// Specific CSS for your home-page

.container {
  padding-top: 50px;
}

.card {
  height:180px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px;
}

h3 {
  text-align: center;
}
